<div class="content-buttons">
	<a href="https://twitter.com/azevedo_fred" target="_blank" class="waves-effect btn-large"><i class="material-icons left fa fa-twitter"></i>Twitter</a>
	<a href="https://github.com/fred-azevedo" target="_blank" class="waves-effect btn-large"><i class="material-icons left fa fa-github"></i>Github</a>
	<a href="http://steamcommunity.com/id/fredspider/" target="_blank" class="waves-effect btn-large"><i class="material-icons left fa fa-steam"></i>Steam</a>
	<a href="http://www.gameday.com.br/" target="_blank" class="waves-effect btn-large"><i class="material-icons left fa fa-gamepad"></i>Game Day</a>
</div>